@model TblForm
@{
    ViewData["Title"] = ViewData["name"];
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    var formModel = ViewData["Data"];
}

<div class="col gap-between-card">
    <!-- #region Profile -->
    <div class="form">
        <div class="form-body">
            <div class="grid-160">
                <div class="fg-col">
                    <label class="dl-label">نام فرم</label>
                    <p class="dl-data">@Model.Name </p>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <a href="/Admin/Form/Edit?id=@Model.FormId" class="btn btn-primary">
                <span>ویرایش</span>
                <span uk-icon="pen-square"></span>
            </a>

            <button class="btn btn-danger" popconfirm="description:آیا از حذف فرم اطمینان دارید؟;direction:bc;type:danger;title:هشدار;okText:حذف;" popok="deleteForm(@Model.FormId)">
                <span>حذف</span>
                <span uk-icon="trash"></span>
            </button>
        </div>
    </div>

    <!-- #endregion -->
    <!-- #region Roles -->

    <div class="form">
        <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true;bottom: true">
            <div class="rowr">
                <h2 class="card-title">
                    بخش های قابل دسترس به این فرم
                </h2>
                <a asp-area="admin"
                   asp-controller="Form"
                   asp-action="AddPage"
                   asp-route-id="@Model.FormId"
                   asp-route-name="@Model.Name.Replace(" ","")"
                   class="btn btn-primary uk-margin-auto-right">
                    <span>اضافه کردن بخش برای دسترسی به این فرم</span>
                    <span class="tiny" uk-icon="plus-square"></span>
                </a>
            </div>
        </div>
        <div class="form-body scrollh-container uk-padding-remove">
            <table class="tbl tbl-striped" dir="rtl">
                <thead>
                    <tr>
                        <th>کد</th>
                        <th>نام بخش</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TblPageFormRel.Where(i => i.IsDeleted == false).OrderByDescending(i => i.PageFormRelId).Where(i => i.Page.IsDeleted == false))
                    {
                        <tr id="formPageRelId_@item.PageFormRelId">
                            <td>@item.PageFormRelId</td>
                            <td>@item.Page.Name</td>
                            <td class="actions">
                                <a href="" class="btn-icon round text-4" uk-icon="icon:ellipsis-h;ratio:.72"></a>
                                <div class="dropdown" uk-drop="mode: click;offset:4">
                                    <ul class="dropdown-list">
                                        <li>
                                            <a asp-area="admin"
                                               asp-controller="Form"
                                               asp-action="EditPage"
                                               asp-route-id="@item.PageFormRelId"
                                               asp-route-name="@item.Page.Name.Replace(" ","")"
                                               class="rowr">
                                                <span class="new">ویرایش</span>
                                                <span class="small" uk-icon="pen-square"></span>
                                            </a>
                                        </li>
                                        <li>

                                            <a class="rowr btn-danger" popconfirm="floating:true;description:آیا از حذف کاربر اطمینان دارید؟;direction:rt;type:danger;title:هشدار;okText:حذف;" popok="deleteFormPageRelId(@item.PageFormRelId)">
                                                <span>حذف</span>
                                                <span class="small" uk-icon="trash"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>

</div>

@section Scripts{

    <script>
        require(['config'], function () {
            require(['confirm'], function () {

            })
        });
    </script>

    <script>

        function deleteForm(id) {
            LoadingRun();
            $.get('/Admin/Form/Delete?id=' + id, function (result) {
                if (result == "true") {
                    window.location.href = "/Admin/Form/List";
                }
                LoadingEnd();
            });
        }
        function deleteFormPageRelId(id) {
            LoadingRun();
            $.get('/Admin/Form/DeleteFormPageRelId?id=' + id, function (result) {
                if (result == "true") {
                    $('#formPageRelId_' + id).addClass('uk-text-danger');
                    $("#formPageRelId_" + id).hide('slow');
                }
                LoadingEnd();
            });
        }
    </script>


}
