@model IEnumerable<ValueListVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";

    TblValue value = Model.FirstOrDefault().Value;
}

<div class="col gap-between-card">
    <!-- #region Profile -->
    <div class="form">
        <div class="form-header">
            <h1 class="card-title">
                نام فرم @Model.FirstOrDefault().Form.Name
            </h1>
        </div>
        <div class="form-body">
            <div class="grid-160">
                <div class="fg-col">
                    <label class="dl-label">نام کودک</label>
                    <p class="dl-data">@(value.Kid.Name ?? "کودک")</p>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Value.FormField.Field.Type != "File")
                    {
                        <div class="fg-col">
                            <label class="dl-label">@item.Value.FormField.Field.Label</label>
                            <p class="dl-data">@item.Value.Value</p>
                        </div>
                    }
                    else
                    {
                        <div class="fg-col">
                            <label class="dl-label">@item.Value.FormField.Field.Label</label>
                            <a class="dl-data" href="~/FilesUploads/@item.Value.Value" target="_blank">مشاهده فایل</a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="form-footer">
            @if (value.IsAccepted == true)
            {
                <a asp-action="IsAccepted" asp-controller="FormKid" asp-area="Admin" asp-route-id="@value.IndexNo" asp-route-value="0" class="btn btn-danger" onclick="LoadingRun()">
                    <span>رد</span>
                    <span uk-icon="times"></span>
                </a>
            }
            else
            {
                <a asp-action="IsAccepted" asp-controller="FormKid" asp-area="Admin" asp-route-id="@value.IndexNo" asp-route-value="1" class="btn btn-primary" onclick="LoadingRun()">
                    <span>تایید</span>
                    <span uk-icon="check"></span>
                </a>
            }


        </div>
    </div>

    <div class="form">
        <div class="form-header">
            <h3 class="card-title">
                ثبت شده توسط
            </h3>
        </div>
        <div class="form-body">
            <!-- #region User -->
            <div class="icon-list-item">
                <img src="~/Images/User/@value.User.ImageUrl" class="round" width="42" height="42" alt="" />
                <div class="col">
                    <label>@value.User.Name</label>
                    <span>@value.User?.TblUserRoleRel.FirstOrDefault()?.Role.Title</span>
                </div>
                <a asp-area="Admin"
                   asp-controller="User"
                   asp-action="Index"
                   asp-route-id="@value.User.UserId"
                   asp-route-name="@value.User.Name" uk-tooltip="مشاهده پروفایل" class="btn btn-icon round text-4" uk-icon="icon:eye;ratio:.72"></a>
            </div>
            <!-- #endregion -->
        </div>
    </div>

</div>
