<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@(ViewData["Description"] ?? "جستجو رستوران به صورت آنلاین")">
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "جستجو، رستوران، غذا، آنلاین، امتیاز دهی")">

    <title>@(ViewData["Title"] ?? "وبسایت")</title>

    <link href="~/css/uikit.min.css" rel="stylesheet" />
    <link href="~/css/Controls.min.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

</head>
<body>

    <aside class="m-aside">
        @RenderSection("Navigation", false)
    </aside>

    <header class="m-top">
        <div class="m-header">
            <div class="left">
                <div class="quick-actions">
                    <button class="btn-icon round sign-out">
                        <span uk-icon="sign-out-alt"></span>
                    </button>
                    <button class="btn-icon round notifications">
                        <span uk-icon="bell"></span>
                    </button>
                    <div class="notification-drop" uk-drop="pos: bottom-justify;">
                        <div class="dropdown">
                            @RenderSection("Notifications", false)
                        </div>
                    </div>
                </div>
                <div class="vertical-divider"></div>
                <div class="user">
                    @RenderSection("User", false)
                </div>
            </div>
            <div class="right">
                <div id="hamburger" class="hamburger">
                    <button class="btn-icon round">
                        <span class="text-4" uk-icon="icon:bars;ratio:2"></span>
                    </button>
                </div>
                <!-- ... -->
                @RenderSection("Right", false)
            </div>
        </div>
        <div class="m-logo">
            <a class="logo" href="/">
                <img src="/st/svg/logo.svg" width="48" height="48" alt="" />
            </a>
        </div>
    </header>

    <div class="m-content">
        @RenderBody()
    </div>

    <footer class="footer row">
        <label class="text-2 uk-margin-left uk-margin-auto-right uk-margin-auto-top uk-margin-auto-bottom">
            طراحی و توسعه توسط  <a href="https://arvintavco.com">آروین تاو</a>
        </label>
    </footer>

    <!-- #region addJquery -->

    <script src="~/Jquery/jquery-3.4.1.min.js"></script>
    <script src="~/Validate/jquery.validate.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/Validate/jquery.unobtrusive-ajax.min.js"></script>

    <!-- #endregion -->


    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.js"></script>
    <script src="~/js/global.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="~/js/navigation.js"></script>
    <script src="~/js/imageSelect.js"></script>

    <script data-main="/js/config" src="~/js/require.js"></script>

    @RenderSection("Scripts", required: false)


    <script>
        function LoadingRun(form) {
            if (!$(form).valid()) return;
            $("#overlay").fadeIn(300);
        }
        function LoadingEnd(form) {
            $("#overlay").fadeOut(300);
            $(form)[0].reset();
        }
    </script>
</body>
</html>
