@model TblUser
@using System.Security.Claims
@{
    ViewData["Title"] = Model.Name;
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
    int count = 1;
}

<div class="gap-between-card col">
    <div class="card">
        <!-- #region User -->
        <div class="icon-list-item">
            @{
                var ImageUser = "";
                if (User.FindFirstValue("ImageUser").ToString() != "")
                {
                    ImageUser = User.FindFirstValue("ImageUser").ToString();
                }
            }

            @if (ImageUser != "")
            {
                <img src="~/Images/User/@ImageUser" class="round" width="42" height="42" alt="" />
            }
            else
            {
                <img src="~/st/png/C.png" class="round" width="42" height="42" alt="" />
            }
            <div class="col">
                <label>@Model.Name</label>

                @*@User.FindFirstValue("CodeMeli").ToString()*@
                <span>@Model.IdentificationNo</span>
            </div>
            <div class="row gap-3 uk-margin-auto-right">
                <a href="/User/Home/Profile" class="btn-icon small"
                   uk-tooltip="پروفایل" uk-icon="user"></a>
                <a href="/Logout" class="btn-icon btn-danger small"
                   uk-tooltip="خروج از حساب" uk-icon="sign-out-alt"></a>
            </div>
        </div>
        <!-- #endregion -->
    </div>

    <div class="col-at-xs row-at-m gap-between-card uk-child-width-1-1-at-xs uk-child-width-1-2">
        @*<div class="card col uk-margin-remove-bottom">
                <h4 class="card-title">
                    اعلان های شما
                </h4>
                <div class="col">
                    <div class="col uk-align-center uk-margin-auto uk-margin-top">
                        <img src="~/st/svg/Empty.svg" class="uk-margin-auto" alt="" width="80" />
                        <h6 class="text-3 uk-margin-small-top">اعلانی وجود ندارد</h6>
                    </div>
                </div>
            </div>*@
        <!-- #region Roles -->
        <div class="form">
            <div class="form-header">
                <div class="rowr">
                    <h2 class="card-title">
                        شیفت ها
                    </h2>
                </div>
            </div>
            <div class="form-body scrollh-container uk-padding-remove">
                <table class="tbl tbl-striped" dir="rtl">
                    <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>کد</th>
                            <th>شیفت</th>
                            <th> زمان</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<TblUserRoleRel> tblUserRoleRels = Model.TblUserRoleRel.Where(i => i.IsDeleted == false).ToList();
                            List<TblUserRoleRel> list = new List<TblUserRoleRel>();
                            foreach (var item in tblUserRoleRels)
                            {
                                if (item.IsShiftPreminent)
                                {
                                    list.Add(item);
                                }
                                else if (item.ShiftDate.Value.Date >= DateTime.Now.Date)
                                {
                                    list.Add(item);
                                }
                            }
                        }
                        @foreach (var item in list)
                        {
                            <tr>
                                <td>@(count++)</td>
                                <td>@item.UserRoleId</td>
                                <td>@item.Role.Title</td>
                                <td>
                                    @if (item.IsShiftPreminent)
                                    {
                                        <p>
                                            دسترسی کامل
                                        </p>
                                    }
                                    else
                                    {
                                        @item.ShiftDate.Value.DateToShamsi()
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <!-- #endregion -->
    </div>
</div>

<div class="headline uk-margin-top">
    <h3>
        فرم های امروز
    </h3>
    <hr />
</div>

<div class="forms">
    @{
        //string[] dateUser = DateTime.Now.ToString().Split(' ')[0].Split('/');
        string dateUser = DateTime.Now.ToString().Split(' ')[0];
        //string result = dateUser[2] + '-' + dateUser[0] + '-' + dateUser[1];
    }
    @foreach (var item in Model.TblUserRoleRel.Where(i => (i.IsShiftPreminent || i.ShiftDate.ToString().Split(' ')[0] == dateUser) && (i.IsDeleted == false)))
    {
        @foreach (var j in item.Role.TblRolePageRel.Where(i => i.IsDeleted == false))
        {
            @foreach (var k in j.Page.TblPageFormRel.Where(i => i.IsDeleted == false).Select(i => i.Form).Where(i => i.IsDeleted == false).OrderBy(i => i.Priority))
            {
                <partial name="_FormBlock" model="k" />
            }
        }
    }


</div>



<div class="headline uk-margin-top">
    <h3>
        فرم های ویژه
    </h3>
    <hr />
</div>

<div class="forms">

    @foreach (var item in Model.TblUserFormRelUser.Select(i => i.Form))
    {
        <partial name="_FormBlock" model="item" />
    }


</div>

