@model IEnumerable<TblKid>
@{
    ViewData["Title"] = "لیست کودکان";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<!-- This is the modal -->
<div id="Modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">این یک مودال می باشد</h2>
    </div>
</div>

<div class="form">
    <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true">
        <div class="rowr">
            <h2 class="card-title">
                لیست کودکان
            </h2>
            <a onclick="showOtherPage(1)" class="btn btn-secondary uk-margin-auto-right">
                <span>جستوجو</span>
                <span class="tiny" uk-icon="search"></span>
            </a>
        </div>
    </div>

    <div class="form-search" uk-sticky="offset: 139;cls-active: sticked uk-box-shadow-medium;bottom:true">
        <form id="formSearchKid" action="/User/Home/Kids" class="controls-grid">
            <input class="entry" type="hidden" id="formId" name="formId" value="@ViewBag?.FormId">
            <input class="entry" type="hidden" id="pageId" name="pageId" value="@ViewBag.PageShow">
            <input class="entry" type="text" id="name" name="name" placeholder="نام" value="@ViewBag.name">
            <input class="entry" type="text" id="nickname" name="nickname" placeholder="نام مستعار" value="@ViewBag.nickname">
        </form>
    </div>

    <div class="form-body scrollh-container uk-padding-remove">
        <table class="tbl tbl-striped" dir="rtl">
            <thead>
                <tr>
                    <th>کد</th>
                    <th>نام</th>
                    <th>نام مستعار</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int skip = ViewBag.skip;
                }
                @foreach (var item in Model)
                {
                    <tr id="kidId_@item.KidId">
                        <td>@(skip + 1)</td>
                        @{
                            skip += 1;
                        }
                        <td>@item.Name</td>
                        <td>@item.Nickname</td>
                        <td class="actions">
                            <a href="/User/Page/Form/@ViewBag?.FormId?kidId=@item.KidId" class="btn btn-dashed rowr uk-margin-auto-right">
                                <span class="new">انتخاب</span>
                                <span class="small" uk-icon="pen-square"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-footer">
        <div class="uk-margin-auto-right">
            <ul class="uk-pagination uk-margin-remove uk-margin-auto-right">
                @{ int pageCount = ViewBag.PageCount;
                    int pageShow = ViewBag.PageShow;
                    int minPage = pageShow <= 1 ? pageShow : pageShow - 2;
                    int maxPage = pageShow <= 1 ? pageShow + 4 : pageShow + 2;
                    int notpage = 0; }
                @if (pageShow > 1)
                {
                    <li><a onclick="showOtherPage(@(pageShow==0?1:pageShow-1))"><span uk-pagination-previous></span></a></li>
                }
                @if (pageShow > 3)
                {
                    <li><a onclick="showOtherPage(1)">1</a></li>
                }
                @for (int i = 1; i <= pageCount; i++)
                {
                    @if (i >= minPage && i <= maxPage)
                    {
                        <li><a onclick="showOtherPage(@(i))" class="@(pageShow==i?"uk-active":"")">@i</a></li>
                        notpage = 0;
                    }
                    else
                    {
                        if (notpage == 0)
                        {
                            <li class="uk-disabled"><span>...</span></li>
                            notpage++;
                        }
                    }}
                @if (pageShow <= pageCount - 3)
                {
                    <li><a onclick="showOtherPage(@(pageCount))">@pageCount</a></li>
                }
                @if (pageShow < pageCount)
                {
                    <li><a onclick="showOtherPage(@(pageShow==0?2:pageShow+1))"><span uk-pagination-next></span></a></li>
                }

            </ul>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        function showOtherPage(id) {
            $('#pageId').val(id);
            document.getElementById('formSearchKid').submit();
        }
    </script>



    <script>
        require(['config'], function () {
            require(['confirm'], function () {

            })
        });
    </script>
}