@model TblUserRoleRel
@{
    ViewData["Title"] = "تعیین شیفت";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<link href="~/datePersion/persianDatepicker-default.css" rel="stylesheet" />

<form class="form" method="post" asp-action="AddRole">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" name="name" value="@ViewBag.name" />
    <div class="form-header" dir="rtl">
        <h3>
            تعیین شیفت برای کاربر @ViewData["name"]
        </h3>
    </div>
    <div class="form-body">

        <div class="grid-400">
            @{
                List<TblRole> listRole = ViewBag.UserRoleRel as List<TblRole>;

            }

            <div class="fg-col">
                <label class="fg-label" for="name">شیفت</label>
                <select class="uk-select" asp-for="RoleId">
                    @foreach (var item in listRole)
                    {
                        <option value="@item.RoleId">@item.Title</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="RoleId"></span>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid" style="direction:rtl">
                <label class="fg-label " for="shiftPreminent">
                    دسترسی کامل
                    <input class="uk-radio" type="radio" checked name="shiftPreminent" onclick="javascript:yesnoCheck();" id="noCheck" @((ViewBag.checkedIsDate == false) ? "checked" : "")>
                </label>
                <label class="fg-label uk-margin-large-right" for="shiftPreminent">
                    زماندار
                    <input class="uk-radio" type="radio" required name="shiftPreminent" onclick="javascript:yesnoCheck();" id="yesCheck" @((ViewBag.checkedIsDate == true) ? "checked" : "")>
                </label>
                <span class="text-danger" asp-validation-for="IsShiftPreminent"></span>
            </div>
            <input type="checkbox" style="display:none" asp-for="IsShiftPreminent" checked />

        </div>
        <div style="visibility: hidden" id="ifYes" class="ifYes">
            <div>
                <label class="mt-3 uk-text-bold">افزودن تاریخ</label>
                &nbsp;<span onclick="SetNewInputGallery()" class="text-success cursor-pointer btn-primary" uk-icon="plus-circle"></span>
            </div>
            <input readonly class="entry ShiftDate" type="text" name="ShiftDate" placeholder="در تاریخ">
        </div>
    </div>
    <div class="form-footer">
        <button class="btn btn-primary"><span>اضافه</span></button>
    </div>
</form>

@section Scripts{

    <script>
        function SetNewInputGallery2() {
            $(".ShiftDate2").persianDatepicker();
        }
        let x = 3;
        const y = x;

        function SetNewInputGallery() {
            alert(y);
            y = y++;
            $(".ifYes").append(`

                <input readonly class="entry ShiftDate2" onclick="SetNewInputGallery2()" type="text" name="ShiftDate" placeholder="در تاریخ">

                                    `
            );
        }
    </script>
    <script>
        yesnoCheck();
        function yesnoCheck() {

            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.visibility = 'visible';
                //    document.getElementById('IsShiftPreminent').checked = "false";
                $("#IsShiftPreminent").attr("checked", false);
            }
            else {
                //  document.getElementById('IsShiftPreminent').checked = "true";
                document.getElementById('ifYes').style.visibility = 'hidden';
                $("#IsShiftPreminent").attr("checked", true);
            }
        }
    </script>


    <script src="~/datePersion/prism.js"></script>
    <script src="~/datePersion/persianDatepicker.js"></script>
    <script>
        $(".ShiftDate").persianDatepicker();
    </script>


}


