@model TblUser
@using Nursery.Utilities;

@{
    ViewData["Title"] = "کاربر" + ViewData["name"];
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="col gap-between-card">
    <!-- #region Profile -->
    <div class="form">
        <div class="form-body">
            <div class="fg-col" uk-lightbox>
                @if (Model.ImageUrl != null)
                {
                    <a class="uk-margin-auto-left" href="~/Images/User/@Model.ImageUrl">
                        <img class="profile-image" src="~/Images/User/@Model.ImageUrl" width="128" height="128" />
                    </a> }
                else
                {
                    <a class="uk-margin-auto-left" href="~/st/png/blue.png">
                        <img class="profile-image" src="~/st/png/blue.png" width="128" height="128" />
                    </a>}
            </div>
            <div class="grid-160">
                <div class="fg-col">
                    <label class="dl-label">نام و نام خانوادگی</label>
                    <p class="dl-data">@Model.Name </p>
                </div>
                <div class="fg-col">
                    <label class="dl-label">شماره تلفن</label>
                    <p class="dl-data">@Model.TellNo</p>
                </div>
                <div class="fg-col">
                    <label class="dl-label">کد ملی</label>
                    <p class="dl-data">@Model.IdentificationNo</p>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <a asp-action="Edit" asp-controller="User" asp-area="Admin" asp-route-id="@Model.UserId" class="btn btn-primary">
                <span>ویرایش</span>
                <span uk-icon="pen-square"></span>
            </a>
            <a asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.UserId" asp-route-name="@Model.Name" class="btn btn-secondary">
                <span>تغییر رمز</span>
                <span uk-icon="lock"></span>
            </a>
            <button class="btn btn-danger" popconfirm="description:آیا از حذف کاربر اطمینان دارید؟;direction:rb;type:danger;title:هشدار;okText:حذف;" popok="deleteUser(@Model.UserId)">
                <span>حذف</span>
                <span uk-icon="trash"></span>
            </button>

        </div>
    </div>

    <!-- #endregion -->
    <!-- #region Roles -->
    <div class="form">
        <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true;bottom: true">
            <div class="rowr">
                <h2 class="card-title">
                    شیفت ها
                </h2>
                <a asp-area="admin"
                   asp-controller="User"
                   asp-action="AddRole"
                   asp-route-id="@Model.UserId"
                   asp-route-name="@Model.Name"
                   class="btn btn-primary uk-margin-auto-right">
                    <span>اضافه کردن شیفت</span>
                    <span class="tiny" uk-icon="plus-square"></span>
                </a>
            </div>
        </div>

        <div class="form-body scrollh-container uk-padding-remove">
            <table class="tbl tbl-striped" dir="rtl">
                <thead>
                    <tr>
                        <th>کد</th>
                        <th>نام</th>
                        <th>از زمان</th>
                        <th>تا زمان</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.TblUserRoleRel.Any())
                    {


                        @foreach (var item in Model.TblUserRoleRel.Where(i => i.IsDeleted == false))
                        {
                            <tr id="userRoleIdId_@item.UserRoleId">
                                <td>@(Model.TblUserRoleRel.Where(i => i.IsDeleted == false).ToList().IndexOf(item)+1)</td>
                                <td>دسترسی به شیفت   @item.Role.Title </td>
                                <td>@item.ShiftStart.TimeOfDay</td>
                                <td>@item.ShiftEnd.TimeOfDay</td>
                                <td class="actions">
                                    <a href="" class="btn-icon round text-4" uk-icon="icon:ellipsis-h;ratio:.72"></a>
                                    <div class="dropdown" uk-drop="mode: click;offset:4">
                                        <ul class="dropdown-list">
                                            <li>
                                                <a asp-area="admin"
                                                   asp-controller="User"
                                                   asp-action="EditRole"
                                                   asp-route-id="@item.UserRoleId"
                                                   asp-route-name="@item.Role.Title"
                                                   asp-route-nameUser="@Model.Name"
                                                   class="rowr">
                                                    <span class="new">ویرایش</span>
                                                    <span class="small" uk-icon="pen-square"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="rowr btn-danger" popconfirm="floating:true;description:آیا از حذف  اطمینان دارید؟;direction:rb;type:danger;title:هشدار;okText:حذف;" popok="deleteUserRoleId(@item.UserRoleId)">
                                                    <span>حذف</span>
                                                    <span class="small" uk-icon="trash"></span>
                                                </a>


                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }}



                </tbody>
            </table>
        </div>


    </div>
    @*<div class="form">
            <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true;bottom: true">
                <div class="rowr">
                    <h2 class="card-title">
                        شیفت ها
                    </h2>
                    <a href="/Admin/User/AddRole" class="btn btn-primary uk-margin-auto-right">
                        <span>اضافه</span>
                        <span class="tiny" uk-icon="plus-square"></span>
                    </a>
                </div>
            </div>
            <div class="form-search" uk-sticky="offset: 139;cls-active: sticked uk-box-shadow-medium;bottom:true;bottom: true">
                <div class="controls-grid">
                    <input class="entry" type="number" placeholder="کد">
                    <input class="entry" type="text" placeholder="نام">
                    <input class="entry" type="text" placeholder="از زمان">
                    <input class="entry" type="text" placeholder="تا زمان">
                    <div class="col">
                        <label class="fg-label row text-3">
                            حذف شده
                            <input class="uk-checkbox" type="checkbox">
                        </label>
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-body scrollh-container uk-padding-remove">
                <table class="tbl tbl-striped" dir="rtl">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>نام</th>
                            <th>از زمان</th>
                            <th>تا زمان</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>دسترسی به بخش شیرخوارگاه</td>
                            <td>12:45</td>
                            <td>16:20</td>
                            <td class="actions">
                                <a href="" class="btn-icon round text-4" uk-icon="icon:ellipsis-h;ratio:.72"></a>
                                <div class="dropdown" uk-drop="mode: click;offset:4">
                                    <ul class="dropdown-list">
                                        <li>
                                            <a href="/Admin/User/EditRole" class="rowr">
                                                <span class="new">ویرایش</span>
                                                <span class="small" uk-icon="pen-square"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="rowr btn-danger">
                                                <span>حذف</span>
                                                <span class="small" uk-icon="trash"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-footer">
                <div class="uk-margin-auto-right">
                    <ul class="uk-pagination uk-margin-remove uk-margin-auto-right">
                        <li><a href="#"><span uk-pagination-previous></span></a></li>
                        <li><a href="#">1</a></li>
                        <li class="uk-disabled"><span>...</span></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li class="uk-active"><span>7</span></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#"><span uk-pagination-next></span></a></li>
                    </ul>
                </div>
            </div>
        </div>*@

    <!-- #endregion -->
    <!-- #region Activity Log -->
    <div class="activity card-mat">
        <div class="header card-padding">
            <h1 class="title" dir="rtl">
                فعالیت های کاربر @Model.Name
            </h1>
            @*<h3 class="subtitle" dir="rtl">
                    3 مورد فعالیت در یک هفته گذشته
                </h3>*@
        </div>
        <div class="body card-padding">
            <div class="line"></div>

            @{ string colorByType(int type)
                {
                    switch (type)
                    {
                        case 1:
                            return "green";
                        case 2:
                            return "red";
                        case 3:
                            return "yellow";
                        case 4:
                            return "purple";
                        case 5:
                            return "blue";
                        case 6:
                            return "gray";
                        default:
                            return "gray";
                    }
                } }


            @if (Model.TblUserLog.Any())
            {

                @foreach (var item in Model.TblUserLog.OrderByDescending(i => i.DateCreated))
                {
                    <div class="item @(colorByType(Convert.ToInt32(item.Type)))">
                        <span class="time">@item.DateCreated.Value.ToRelativeDate()</span>
                        <i class="badge"></i>
                        <p class="text">
                            @item.Text
                        </p>
                    </div>}}

        </div>
    </div>

    <!-- #endregion -->
</div>

@section Scripts{
    @if (Context.Request.Query["changePassword"].ToString() == "true")
    {
        <script>
            notify('رمز کاربر مورد نظر تغیر یافت', 'success');
        </script>
    }

    @if (Context.Request.Query["addRoleInUser"].ToString() == "true")
    {
        <script>
            notify('شیفت مورد نظر به کاربر اضافه شد', 'success');
        </script>
    }
    @if (Context.Request.Query["editRoleInUser"].ToString() == "true")
    {
        <script>
            notify('شیفت مورد برای این کاربر ویرایش شد', 'success');
        </script>
    }
    <script>

        function deleteUser(id) {
            LoadingRun();
            $.get('/Admin/User/Delete?id=' + id, function (result) {
                if (result == "true") {
                    window.location.href = "/Admin/User/List";
                    //$('#userId_' + id).addClass('text-danger');
                    //$("#userId_" + id).hide('slow');
                }
                LoadingEnd();
            });
        }
        function deleteUserRoleId(id) {
            LoadingRun();
            $.get('/Admin/User/DeleteUserRoleId?id=' + id, function (result) {
                if (result == "true") {
                    $('#userRoleIdId_' + id).addClass('uk-text-danger');
                    $("#userRoleIdId_" + id).hide('slow');
                }
                LoadingEnd();
            });
        }
    </script>
    <script>
        require(['config'], function () {
            require(['confirm'], function () {

            })
        });
    </script>

}
