@model IEnumerable<TblKid>
@{
    ViewData["Title"] = "لیست کودکان";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<!-- This is the modal -->
<div id="Modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">این یک مودال می باشد</h2>
    </div>
</div>

<div class="form">
    <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true">
        <div class="rowr">
            <h2 class="card-title">
                لیست کودکان
            </h2>
            <a onclick="showOtherPage(1)" class="btn btn-secondary uk-margin-auto-right">
                <span>جستوجو</span>
                <span class="tiny" uk-icon="search"></span>
            </a>
            <a href="/Admin/Kid/Add" class="btn btn-primary uk-margin-small-right">
                <span>اضافه</span>
                <span class="tiny" uk-icon="plus-square"></span>
            </a>
        </div>
    </div>

    @if (Context.Request.Query["editKid"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success addKid">
            <p class="help-block">کاربر مورد نظر ویرایش شد</p>
        </div>
        <script>
            var delay = 4000;
            setTimeout(function () { $(".addKid").css("display", "none"); }, delay);
        </script>
    }

    @if (Context.Request.Query["addKid"].ToString() == "true")
    {
        <div class="uk-alert uk-alert-success addKid">
            <p class="help-block">کاربر جدید اضافه شد</p>
        </div>
        <script>
            var delay = 4000;
            setTimeout(function () { $(".addKid").css("display", "none"); }, delay);
        </script>
    }
<div class="form-search" uk-sticky="offset: 139;cls-active: sticked uk-box-shadow-medium;bottom:true">
    <form id="formSearchKid" action="/Admin/Kid/List" class="controls-grid">
        <input class="entry" type="hidden" id="pageId" name="pageId" value="@ViewBag.PageShow">
        <input class="entry" type="text" id="name" name="name" placeholder="نام" value="@ViewBag.name">
        <input class="entry" type="text" id="nickname" name="nickname" placeholder="نام مستعار" value="@ViewBag.nickname">
        <div class="col">
            <label class="fg-label row text-3">
                حذف شده
                <input class="uk-checkbox" id="checkedDelete" name="checkedDelete" type="checkbox" @(((bool)ViewBag.checkedDelete == true) ? "checked" : "")>
            </label>
            <span class="text-danger"></span>
        </div>
    </form>
</div>

    <div class="form-body scrollh-container uk-padding-remove">
        <table class="tbl tbl-striped" dir="rtl">
            <thead>
                <tr>
                    <th>کد</th>
                    <th>نام</th>
                    <th>نام مستعار</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="kidId_@item.KidId">
                        <td>@(Model.ToList().IndexOf(item)+1)</td>
                        <td>@item.Name</td>
                        <td>@item.Nickname</td>
                        <td class="actions">
                            <a href="" class="btn-icon round text-4" uk-icon="icon:ellipsis-h;ratio:.72"></a>
                            <div class="dropdown" uk-drop="mode: click;offset:4">
                                <ul class="dropdown-list">
                                    <li>
                                        <a href="/Admin/Kid/Edit/@item.KidId" class="rowr">
                                            <span class="new">ویرایش</span>
                                            <span class="small" uk-icon="pen-square"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="rowr btn-danger" popconfirm="description:آیا از حذف کاربر اطمینان دارید؟;direction:rt;type:danger;title:هشدار;okText:حذف;" popok="deleteKid(@item.KidId)">
                                            <span>حذف</span>
                                            <span class="small" uk-icon="trash"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-footer">
        <div class="uk-margin-auto-right">
            <ul class="uk-pagination uk-margin-remove uk-margin-auto-right">
                @{ int pageCount = ViewBag.PageCount;
                    int pageShow = ViewBag.PageShow;
                    int minPage = pageShow <= 1 ? pageShow : pageShow - 2;
                    int maxPage = pageShow <= 1 ? pageShow + 4 : pageShow + 2;
                    int notpage = 0; }
                @if (pageShow > 1)
                {
                    <li><a onclick="showOtherPage(@(pageShow==0?1:pageShow-1))"><span uk-pagination-previous></span></a></li>
                }
                @if (pageShow > 3)
                {
                    <li><a onclick="showOtherPage(1)">1</a></li>
                }
                @for (int i = 1; i <= pageCount; i++)
                {
                    @if (i >= minPage && i <= maxPage)
                    {
                        <li><a onclick="showOtherPage(@(i))" class="@(pageShow==i?"uk-active":"")">@i</a></li>
                        notpage = 0;
                    }
                    else
                    {
                        if (notpage == 0)
                        {
                            <li class="uk-disabled"><span>...</span></li>
                            notpage++;
                        }
                    }}
                @if (pageShow <= pageCount - 3)
                {
                    <li><a onclick="showOtherPage(@(pageCount))">@pageCount</a></li>
                }
                @if (pageShow < pageCount)
                {
                    <li><a onclick="showOtherPage(@(pageShow==0?2:pageShow+1))"><span uk-pagination-next></span></a></li>
                }

            </ul>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        function showOtherPage(id) {
            $('#pageId').val(id);
            document.getElementById('formSearchKid').submit();
        }
        function deleteKid(id) {
            $.get('/Admin/Kid/Delete/' + id, function (result) {
                if (result == "true") {
                    $('#kidId_' + id).addClass('text-danger');
                    $("#kidId_" + id).hide('slow');
                }
            });
        }
    </script>



    <script>
        require(['config'], function () {
            require(['confirm'], function () {

            })
        });
    </script>
}