@model IEnumerable<ValueListVm>
@{
    ViewData["Title"] = "  نام فرم    " + Model.FirstOrDefault().Form.Name;
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";

    TblValue value = Model.FirstOrDefault().Value;
}

<div class="col gap-between-card">
    <!-- #region Profile -->
    <div class="form">
        <div class="form-header">
            <h1 class="card-title">
                نام فرم @Model.FirstOrDefault().Form.Name
            </h1>
        </div>
        <div class="form-body">
            <div class="grid-160">
                <div class="fg-col">
                    <label class="dl-label">نام کودک</label>
                    <p class="dl-data">@(value.Kid.Name ?? "کودک")</p>
                </div>
                @foreach (var item in Model)
                {
                    if (item.Value.FormField.Field.Type != "File")
                    {
                        <div class="fg-col">
                            <label class="dl-label">@item.Value.FormField.Field.Label</label>
                            <p class="dl-data">@item.Value.Value</p>
                        </div>
                    }
                    else
                    {
                        <div class="fg-col">
                            <label class="dl-label">@item.Value.FormField.Field.Label</label>
                            <a class="dl-data" href="~/FilesUploads/@item.Value.Value" target="_blank">مشاهده فایل</a>
                        </div>
                    }
                }
            </div>
        </div>

    </div>

</div>

