@{
    ViewData["Title"] = "ارجاع فرم به کاربران ";
    Layout = "~/Areas/User/Views/_UserLayout.cshtml";
}

<!-- This is the modal -->
<div id="Modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">این یک مودال می باشد</h2>
    </div>
</div>

<div class="form">
    <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true">
        <div class="rowr">
            <h2 class="card-title">
                ارجاع فرم @ViewBag.FormName
            </h2>
        </div>
    </div>
    <div class="form-header" uk-sticky="offset: 72;cls-active: sticked;bottom: true">
        <div class="rowr">
            <h2 class="card-title">
                لیست کاربران
            </h2>
        </div>
    </div>

    <form action="ToUsers" method="post" class="form-body scrollh-container uk-padding-remove">
        <input type="hidden" name="IndexN" value="@ViewBag.IndexN" readonly />
        @{
            List<TblUser> Model = ViewBag.UsersId as List<TblUser>;
        }
        <table class="tbl tbl-striped" dir="rtl">
            <thead>
                <tr>
                    <th>کد</th>
                    <th>نام</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(Model.ToList().IndexOf(item)+1)</td>
                        <td>@item.Name @(((bool)item.IsAdmin == true) ? "(مدیر)" : "")</td>
                        <td class="actions">
                            <input type="checkbox" class="myCheckbox" onclick="yesnoCheck()" name="usersId" value="@item.UserId" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="form-footer">

            <div class="uk-margin">
                <textarea name="comment" maxlength="500" class="uk-textarea" dir="rtl" cols="250" rows="5" placeholder="پیام شما"></textarea>
            </div>

        </div>
        <div class="uk-margin-auto-right">
            <span class="uk-text-danger answer">
                لطفا حداقل یک کاربر انتخاب کنید
            </span>
            <div class="myButton">
                <button type="submit" class="uk-button uk-button-primary" >ارجاع</button>
            </div>
        </div>
    </form>

</div>


@section Scripts{
    <script>
        yesnoCheck();
        function yesnoCheck() {
           // $('#myButton21').prop("disabled", !$(".myCheckbox").prop("checked"));

            if ($('.myCheckbox').is(":checked")) {
                $(".myButton").show();
                $(".answer").hide();
            }
            else {
                $(".answer").show();
                $(".myButton").hide();
            }
        }

    </script>




}


